*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

body {
    background-color: #d5e1ef;
}
.container {
    /* width: 100%; */
    height: 100vh;
    padding: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: white; 
    border-radius: 5%; 
    display: flex; 
    flex-direction: column;
    height: 480px;
    width: 300px;
}

img {
    padding: 15px;
    width: 300px; 
    height: 300px;
    border-radius: 30px;
}

.textBox {
    background-color: #fff; 
    margin: 20px;
}

h4 {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1.5;
    color: #20314b;
}

p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #555;
}

/* @media only screen and (min-width: 375px) {
    img {
        width: 300px; 
        height: 300px;
    }

    .textBox {
        width: 300px;
    }

    h4 {
        font-size: 24px;
    }

    p {
        font-size: 15px;
    }
} */